@model MobileFinanceErp.ViewModel.AddEditFinanceViewModel

@{
    string actionName = Convert.ToString(ViewBag.ActionName);
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<div class="row">
    <div class="col-lg-12">
        @using (Ajax.BeginForm(actionName, "Finance", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "financeSaveSuccess",
            OnFailure = "financeSaveError",
            OnComplete = "hideLoader",
            OnBegin = "showLoader"
        }, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(w => w.Id)
            <div class="card">
                <div class="card-header"><strong>Manage</strong> Finance</div>
                <div class="card-body">
                    <div class="card card-accent-success">
                        <div class="card-header">Customer</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.CustomerId)
                                        @(Html.KendoDropdownFor(w => w.CustomerId, new { @class = "form-control", @style = "width:100%" })
                                                                .DataTextField("FullName")
                                                                .DataValueField("Id")
                                                                .Read(Url.Action("GetAll", "Customer"))
                                                                .OnChange("setCustomerMetaData")
                                                                .OnDataBound("setCustomerMetaData")
                                                                .OptionLabel("Select Customer..")
                                                                .Render())
                                        @Html.ValidationMessageFor(w => w.CustomerId)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(w => w.CustomerName)
                                        @Html.TextBoxFor(w => w.CustomerName, new { @readonly = true, @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(w => w.CustomerMobile)
                                        @Html.TextBoxFor(w => w.CustomerMobile, new { @readonly = true, @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(w => w.CustomerAddress)
                                        @Html.TextAreaFor(w => w.CustomerAddress, 3, 3, new { @readonly = true, @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-accent-success">
                        <div class="card-header">Finance Details</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.BookNo)
                                        @Html.TextBoxFor(w => w.BookNo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(w => w.BookNo)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.PageNo)
                                        @Html.TextBoxFor(w => w.PageNo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(w => w.PageNo)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.BrandId)
                                        @(Html.KendoDropdownFor(w => w.BrandId, new { @class = "form-control", @style = "width:100%" })
                                                                .DataTextField("Name")
                                                                .DataValueField("Id")
                                                                .Read(Url.Action("GetAll", "Brand"))
                                                                .OptionLabel("Select Brand..")
                                                                .AddUrl("getBrandAddButton")
                                                                .Render())
                                        @Html.ValidationMessageFor(w => w.BrandId)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.ModelId)
                                        @(Html.KendoDropdownFor(w => w.ModelId, new { @class = "form-control", @style = "width:100%" })
                                                                            .DataTextField("Name")
                                                                            .DataValueField("Id")
                                                                            .CascadeFrom("BrandId")
                                                                            .CascadeFromField("BrandId")
                                                                            .Read(Url.Action("GetAll", "Model"))
                                                                            .OptionLabel("Select Model..")
                                                                            .Render())
                                        @Html.ValidationMessageFor(w => w.ModelId)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.IMEI)
                                        @Html.TextBoxFor(w => w.IMEI, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(w => w.IMEI)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.MobilePrice)
                                        @(Html.KendoNumericTextBoxFor(w => w.MobilePrice, new { @class = "form-control", @style = "width: 100%" })
                                            .OnChange("recalculateLoanAmount")
                                            .Render())
                                        @Html.ValidationMessageFor(w => w.MobilePrice)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.DownPayment)
                                        @(Html.KendoNumericTextBoxFor(w => w.DownPayment, new { @class = "form-control", @style = "width: 100%" })
                                            .OnChange("recalculateLoanAmount")
                                            .Render())
                                        @Html.ValidationMessageFor(w => w.DownPayment)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.LoanAmount)
                                        @Html.KendoNumericTextBoxFor(w => w.LoanAmount, new { @readonly = true, @class = "form-control", @style = "width: 100%" }).Render()
                                        @Html.ValidationMessageFor(w => w.LoanAmount)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.Duration)
                                        @(Html.KendoNumericTextBoxFor(w => w.Duration, new { @class = "form-control", @style = "width: 100%" })
                                            .OnChange("calculateEMI")
                                            .Render())
                                        @Html.ValidationMessageFor(w => w.Duration)
                                    </div>
                                </div>


                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.StartDate)
                                        @(Html.KendoDatePickerFor(w => w.StartDate, new { @class = "form-control",@style = "width: 100%" }).Render())
                                        @Html.ValidationMessageFor(w => w.StartDate)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.RequiredLabelFor(w => w.EMI)
                                        @Html.KendoNumericTextBoxFor(w => w.EMI, new { @readonly = true, @class = "form-control", @style = "width: 100%" }).Render()
                                        @Html.ValidationMessageFor(w => w.EMI)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(w => w.Guarantor1)
                                        @(Html.KendoDropdownFor(w => w.Guarantor1, new { @class = "form-control", @style = "width:100%" })
                                                                .DataTextField("FirstName")
                                                                .DataValueField("Id")
                                                                .Read(Url.Action("GetAll", "Guarantor"))
                                                                .OptionLabel("Select Guarantor 1..")
                                                                .Render())
                                        @Html.ValidationMessageFor(w => w.Guarantor1)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        @Html.LabelFor(w => w.Guarantor2)
                                        @(Html.KendoDropdownFor(w => w.Guarantor2, new { @class = "form-control", @style = "width:100%" })
                                                                .DataTextField("FirstName")
                                                                .DataValueField("Id")
                                                                .Read(Url.Action("GetAll", "Guarantor"))
                                                                .OptionLabel("Select Guarantor 2..")
                                                                .Render())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var financeListPageUrl = '@Url.Action("Index", "Finance")';
    var calculateEmiUrl = '@Url.Action("CalculateEMI", "Finance")';
    var brandAddUrl = '@Url.Action("CreateBrandPopup", "Brand")'
    $("#StartDate").attr("readonly", true);
</script>