@{
    ViewBag.PageName = "Dashboard";
}

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    @*<div class="btn-group float-right">
                            <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>*@
                    <div class="text-value">@ViewBag.CustomerCount</div>
                    <div>Customers</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas class="chart" id="card-chart1" height="70"></canvas>
                </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <div class="text-value">₹ @ViewBag.PendingAmount</div>
                    <div>Pending Loan Amount</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas class="chart" id="card-chart3" height="70"></canvas>
                </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-green">
                <div class="card-body pb-0">
                    <div class="text-value">₹ @ViewBag.CollectedAmount</div>
                    <div>Collected Loan Amount</div>
                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas class="chart" id="card-chart3" height="70"></canvas>
                </div>
            </div>
        </div>
        <!-- /.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">
                    <div class="text-value">₹ @ViewBag.TotalAmount</div>
                    <div>Total Loan Amount</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                    <canvas class="chart" id="card-chart4" height="70"></canvas>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Payment : Pending vs Received
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas id="canvas-5"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var pieChart = new Chart($('#canvas-5'), {
            type: 'pie',
            data: {
                labels: ['Collected Loan Amount', 'Pending Loan Amount'],
                datasets: [{
                    data: [@ViewBag.CollectedAmount, @ViewBag.PendingAmount],
                    backgroundColor: ['#4DBD74', '#B22222'],
                    hoverBackgroundColor: ['#00ff00', '#B22222']
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
}