@model MobileFinanceErp.ViewModel.AddEditModelsViewModel

@{
    string actionName = Convert.ToString(ViewBag.ActionName);
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<div class="row">
    <div class="col-lg-12">
        @using (Ajax.BeginForm(actionName, "Model", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "modelSaveSuccess",
            OnFailure = "modelSaveError",
            OnComplete = "hideLoader",
            OnBegin = "showLoader"
        }, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(w => w.Id)
            <div class="card">
                <div class="card-header"><strong>Manage</strong> Model</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(w => w.BrandId)
                                @(Html.KendoDropdownFor(w => w.BrandId, new { @class = "form-control", @style="width:100%" })
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Read(Url.Action("GetAll","Brand"))
                                        .Render())
                                @Html.ValidationMessageFor(w => w.BrandId)
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(w => w.Name)
                                @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(w => w.Name)
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(w => w.Description)
                                @Html.TextAreaFor(w => w.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(w => w.Description)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var brandListPageUrl = '@Url.Action("Index", "Model")'
</script>